.time {
	font-weight: 600;
	font-size: xx-large;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 1rem;
}

.remained {
	font-weight: 600;
	font-size: x-large;
	font-family: "Montserrat", sans-serif;
}

.remained > span {
	font-weight: 900;
	font-size: x-large;
	font-family: "Montserrat", sans-serif;
}
