.tasks-container {
	display: flex;
	flex-direction: column;
	background: #d9d9d9;
	border-radius: 1.5rem;
	font-family: "Arial";
	font-style: normal;
	font-weight: 500;
	font-size: 1.3rem;
	margin: 1.5rem;
	margin-top: 0;
	border: none;
	width: 90%;
}
